.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: lightgray;
    height: 200px;
}
.item {
    width: 100px;
    height: 100px;
    background: purple;
}